# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Flask
instance/
.webassets-cache
.env
.flaskenv

# Database
*.db
*.sqlite3

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
.DS_Store